<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- setting 延迟加载、二级缓存（不用）分布式缓存 -->
	
	<!-- 别名 -->
	<typeAliases>
		<package name="gaoyuan.core.bean"/>
	</typeAliases>
	
	<!-- Mapper所在位置 
	<mappers>
		
	</mappers>
	-->
</configuration>